/* Global Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 32px;
}
h4 {
    font-size: 24px;
}
h5 {
    font-size: 20px;
}
h6 {
    font-size: 18px;
}
a {
    font-size: 16px;
    text-decoration: none;
}
p {
    font-size: 16px;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
}
img {
    width: 100%;
}
.orange__button {
    background: linear-gradient(to right, #F28B20, #EC5325);
    color: #fff;
    padding: 11px 0px;
    border-radius: 6px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.large__heading {
    font-size: 148px;
    color: #1B75BA;
    opacity: 0.07;
}
.section__heading {
    position: absolute;
    top: 77px;
}
.box__header {
    position: relative;
}
.padding-50 {
    padding: 60px 0 120px 0;
}


/* Header */

.header {
    padding: 20px 0;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact__us a {
    background: linear-gradient(to right, #F28B20, #EC5325);
    color: #fff;
    padding: 7px 10px;
    border-radius: 6px;
}
.header__nav {
    display: flex;
    gap: 20px;
}
.header__nav a {
    color: #1B75BA;
}

/* Banner */

.banner {
    background: linear-gradient(to bottom, #1B75BA66, #FFFFFF00);
    height: 80vh;
    display: flex;
    align-items: center;
    margin-top: -100px;
}
.banner__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner__inner h1 {
    color: #1B75BA;
}
.banner__inner p {
    color: #707070;
}
.banner__inner .box:first-child {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

/* After banner */

.after__banner__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    box-shadow: 0px 0px 30px #00000029;
    border-radius: 8px;
    opacity: 1;
    padding: 40px;
    margin-top: -70px;
}
.after__banner__inner .box {
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
}
.after__banner__inner .box img {
    max-width: 100px;
}

/* Growing */

.growing__inner {
    display: flex;
    justify-content: space-between;
}
.growing__inner .box {
    width: 48%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.growing__inner .box ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.growing__inner .box ul li span {
    background-color: orange;
    display: inline-block;
    border-radius: 100%;
    padding: 3px 4px;
}

/* Services */

.services {
    background-color: #1B75BA;
}
.service__info {
    background: linear-gradient(to right, #F28B20, #EC5524);
    border-radius: 6px;
    box-shadow: 0px 0px 20px #00000029;
    border: 5px solid #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 0;
    position: relative;
    top: -103px;
}
.service__info .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.services__header__inner {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.services__header__inner h3 {
    max-width: 600px;
}
.services__header__inner {
    padding: 0px 0 80px 0;
}
.services__header__inner .large__heading {
    color: aliceblue !important;
    margin-left: -68px;
}
.services__header__inner .section__heading {
    color: #fff;
}
.services__inner {
    display: flex;
    flex-flow: wrap;
    gap: 2.66%;
}
.services__inner .box {
    width: 23%;
    background-color: #2687D2;
    margin-bottom: 34px;
    padding: 28px 25px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    border-radius: 12px;
}
.services__inner .box h6,
.services__inner .box h4,
.services__inner .box p,
.services__inner .box a {
    color: #fff;
}
.services__inner .box:hover {
    background: linear-gradient(to right, #F28B20, #EC5325);
    cursor: pointer;
}